---
Checks: |
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
...
